<div class="item-wide">
  <div class="item-wide__header">{{ headline }}</div>
  <img class="item-wide__border" src="../img/headline_line.svg">
  <div class="item-wide__wrapper">
    <div class="item-wide__content">{{ content1 }}</div>
    <div class="item-wide__content">{{ content2 }}</div>
    <div class="item-wide__content">{{ content3 }}</div>
  </div>
  <div class="item-wide__icon-wrapper">
    <img class="item-wide-rum icon" src="../img/schnaps_rum.svg">
    <img class="item-wide__image" src="{{ image }}">
    <img class="item-wide-tea icon" src="../img/schnaps_jaegertee.svg">
    <img class="item-wide-cigar icon" src="../img/schnaps_cointreau.svg">
  </div>
</div>